body {
  background-image: url("https://www.aman.com/sites/default/files/styles/full_size_large/public/2021-02/Amangiri_Website_Landscape_5.jpg?itok=1EOp7tuq");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  font-family: 'Work Sans', sans-serif;
  font-size: 3vh;
  text-align: center;
  color: white;
}


h1 {
  font-size: 8vh;
  color: white;
  margin: 3vh 0vw 4vh 2vw;
  text-align: left;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2 {
  font-size: 5vh;
  color: white;
  margin-bottom: 1vh;
  margin-top: 2vh;
  padding-top: 2vh;
}

h4 {
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: 3vh;
  outline: 1px black;
}

.room-title {
  font-weight: bolder;
}

.login-form{
  background: rgba(0, 0, 0, .6);
  margin: 10vh 12vw 0vh 12vw;
  padding-top: 3vh;
  padding-bottom: 7vh;
}

.customer-dashboard-page,
.book-a-room-page,
.available-rooms-page,
.manager-dashboard-page,
.manager-view-user-page,
.room-details-page {
  background: rgba(0, 0, 0, .6);
  margin: 10vh 4vw 0vh 4vw;
  padding-top: 3vh;
  padding-bottom: 7vh;
}

#username, #password, #dateSearch, #userSearch {
  width: 20vw;
  height: 5vh;
  border: none;
  margin-bottom: 2vh;
  border-radius: 6px;
}

#errorMessagePlaceholder, #errorDatePlaceholder {
  color: red;
  font-weight: bolder;
  font-size: 3vh;
  background-color: white;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.8),
}

.button {
  margin: 0vh 1vw 0vh 1vw;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 0 47px;
  height: 40px;
  border-radius: 7px;
  font-size: 16px;
  background: #fff;
  color: #696969;
  box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
  transition: background 0.2s ease;
}

.button:hover{
  background: rgba(255,255,255,0.7);
  box-shadow: 0 6px 20px rgb(93 93 93 / 50%);
}

.dashboard-body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.room-booking,
.room-details-page {
  background-color: #dad8d5e3;
  color: black;
}

.existing-bookings-container,
.future-bookings-container,
.available-rooms-container,
.todays-bookings-container,
.users-bookings-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 7px 7px;
  margin: 2vh 4vw 2vh 4vw;
}

.checkbox {
  border: none;
  width: 15px;
  height: 15px;
  border-radius: 4px;
  margin-left: 3vw;
}

label {
  font-size: 15px;
}

.filter-rooms {
  margin-bottom: 5vh;
}

.room-photo {
  width: 95%;
  margin-top: 2vh;
}

.room-details-photo {
  width: 60%;
}

.room-details-title {
  color: black;
}

/* .room-details-info {
  display: flex;
  flex-direction: row;
  align-items: center;
} */

.hidden {
  display: none;
}
